@mixin clearfix {
    &::after {
    content:"";
    display:table;
    clear:both;}
    
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header{ 
  height:50vh;
  width:100%;

}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header{  
  height:90vh;
  width:100%;

}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.header{  
       height:80vh;
       width:100%;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.header{  
       height:100vh;
       width:100%;
  
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {

    @media only screen and (min-width:768px) {
.header{   height:100vh;

       width:100%;
  
  }
}    
  }
}