//colors:
$color-white:#fff;
$color-black:#333;
$color-prey:#adb5bd;
$color-primary:#F27059;
$color-text-main:#3D5A80;
$color-text-secondery:#9798b8;
$color-primary-light:#f79d65;
$color-serch:#f8edeb;

//font-sizes:
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

$font-family: 'Merriweather Sans', sans-serif;

$font-family-logo:'Courgette', cursive;
$font-size-logo:1.9rem;
$font-size-header:3rem;
$font-size-headerb:1.90rem;
$font-size-card:1.12rem;
$font-size-secondery:.85rem;
$line-height:1.30rem;

//GRID:
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
$gutter-lg:21rem;
//BUTTON :
$button-width: 7rem;
$button-height:10px;
//