 .row-a{
     position:relative;
     right:9rem;
     width:100%;
     display:flex;
     justify-content:center;
     flex-direction:row;

&_image-single{
    width:18rem;
    height:21rem;
        border-radius: 0px 0px 20px 0px;
    box-shadow: 0px 10px 13px -7px #000000, 7px -11px 40px 8px rgba(0,0,0,0);
    &:hover{
        -moz-transform: scale(1.3) translate(2px, 1px);
        -webkit-transform: scale(1.3) translate(2px, 1px);
        -o-transform: scale(1.3) translate(2px, 1px);
        -ms-transform: scale(1.3) translate(2px, 1px);
        transform: scale(1.3) translate(2px, 1px);
    }
}


 &_img-left{
     position:relative;
     left:17rem;
     width:100%;
     height:100%;
    margin-right:10rem;
}
&_food-part1{ margin-left:3rem;
}
}
.flex-a2{ 
display:flex
}


.tittle{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    }

.banner{
    position:relative;
    min-height:50vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:url("../img/banner.jpg");
    background-size:cover;
    margin-right:10rem;
    text-align:center;

&_content{
    max-width:200px;
    text-align:center;
         }

}

.menu{
display:flex;
justify-content:center;
flex-direction:row;
}