.grid_four-img{ position:relative;}

.grid_a1{
    display:grid;
    grid-template-columns:3fr 1fr;
    margin-left:8rem;
    margin-top:4rem;
    padding-right:5rem;
        }

.grid { 
       display:grid;
            & > div {
             text-align:left;
                    }

&_four-img {
        display:flex;
        justify-content:center;
        border: 5px none #1C6EA4;
      border-radius: 14px 14px 14px 14px;
      }
     }

 .auto-fit {
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
          }



    .grid_four-img-image2{ position:absolute;right:5rem;top:-7rem; }
    .grid_four-img-image1{ position:absolute;top:6rem; right:17rem;}
    .grid_four-img-image4{ position:absolute;left:17rem;}
    .grid_four-img-image3{ position:absolute; right:24rem;top:7rem;}