

.m1{ margin-bottom:4rem;}
.ml{ margin-bottom:10rem;}

.margin-a{
     margin-left:12rem;
     margin-right:9rem;
     margin-top:3rem;
        }
.c{ text-align:center;}

.margin-b{
   
     margin-top:3rem;
        }