
.section6-part1, .section6-part2 {
display:flex;
justify-content:center;}

.column {
  width: 50%;
  padding: auto ;
   display:flex; flex-direction:row; justify-content:center; align-items:center;margin-left:5rem;}


.row {display:flex; flex-direction:row; justify-content:center;}



@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding:8rem;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height:220px;
  width:370px;
position:relative;
align-items:center;
border-radius: 15px 15px 15px 15px;
  transition:1s ease;


&:hover{
    transform:scale(1.1);
    box-shadow:2px 2px 2px; z-index:2;

}

.card_tittle{
display:flex;
text-align:left;
position:absolute;
top:10rem;
left:2rem;
}
.card-price{
position:absolute;
right:2rem;
top:10rem;
color:$color-primary;
font-weight:bolder;
font-size:$font-size-card;
}

.card-detail{
position:absolute;
top:12rem;
left:2rem;
font-size:$font-size-secondery;
color:$color-text-secondery;

}

.card-img{
  display:flex;
  justify-content:center;
  align-item:center;
   position:center;
  background-size:cover;
  width:100%; height:64%;top:5;right:12rem;
}
}








.container{
display:flex;
justify-content:center;

&_box{
  width:25rem;
  height:300px;
  float:left;
  margin:1rem 1rem;
  transition:1s;
  z-index:1;
&:hover .overlay {
  opacity: 1;
}

.middle {
  transition:.5s ease;
  opacity:0;
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



.img{
  display: block;
  width: 100%;
  height: 100%;

         }
}

.text {
  color:$color-black;
  font-size: 16px;
  padding: 16px 32px;


  &_tittle_dark{ font-size:$font-size-card; font-weight:bold; }


  &_p_dark{ font-size:$font-size-secondery;}


}

}

