
.header{
position:relative;
background-image:url("../img/first-back.png");
background-position:right;
width:100%;
height:130vh;
background-size:cover;
background-repeat:no-repeat;

}
.logo-box{ 
  font-family:$font-family-logo;
  position:absolute;top:3rem; left:14rem;
font-size:$font-size-logo;
}

.topnav {
 overflow:hidden;
 background-color:(#fff, .9);
 display:flex;
 flex-direction:row;
justify-content:center;
align-content:center;
margin-right:14rem;
padding-top:3rem;
& a {
  padding:1rem;
  color:$color-text-secondery;
font-weight:bold;
  text-align:center;
  text-decoration:none;
  font-size:.80rem;
text-transform:uppercase;
  }

& a:hover {
  background-color:$color-primary-light;
  color:black;
  font-weight:bold;

}

& a.active {
  color:$color-text-main;
  font-weight:bold;
}

& .icon {
  display:none;
}
}